html {
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 100px;
}
ul.lang-items {
  margin: 0;
  padding: 4px;
}
ul.lang-items li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}
.lang-list {
  padding-left: 115px;
}
.lang-btn {
  opacity: 0.5;
  color: white;
}
.heart-logo {
  padding-left: 20px;
}
ul.nav-items {
  margin: 0;
  padding: 4px;
}
ul.nav-items li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}
.navbar {
  opacity: 0.5;
  color: white;
  padding-left: 200px;
}
.search-btn {
  margin-inline: auto;
  margin-top: -70px;
}
.entry-reg {
  margin-inline: auto;
  height: 20px;
  margin-left: 90px;
  opacity: 0.5;
  color: white;
  display: flex;
  margin-top: 5px;
}
.main {
  margin-top: 45px;
  margin-left: 100px;
  /* border: solid aqua; */
  width: 670px;
  height: 430px;
}
.main-top {
  display: flex;
  justify-content: space-between;
}
.top-text-title {
  opacity: 0.9;
  color: white;
  font-size: 65px;
}
.more-detals {
  opacity: 0.5;
  color: white;
  font-size: 22px;
  padding-right: 30px;
  margin-top: 35px;
}
.arrow-logo-top {
  margin-top: 5px;
}
.can-help-text {
  opacity: 0.9;
  color: white;
}
.can-help-text {
  margin-top: 60px;
}
.can-help-container {
  display: flex;
  margin-top: 25px;
  opacity: 0.5;
  color: white;
}
.help {
  margin-left: 100px;
}
.help-btn {
  background-blend-mode: normal;
  box-shadow: 0px 0px 15px 3px #e53656, 0px 0px 7px 2px #9d5e9a;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.0705882353);
  padding: 0.4vw 1vw;
  margin-left: 15px;
  cursor: pointer;
  color: #d8d8d8;
}
.arrow-logo-mid {
  margin-top: -10px;
  margin-left: 7px;
}
.add-project-text {
  opacity: 0.9;
  color: white;
}
.add-project {
  opacity: 0.5;
  color: white;
}
.main-bottom {
  margin-top: 110px;
}
.add-project {
  margin-top: 50px;
}
.social {
  opacity: 0.5;
  color: white;
}
.footer {
  position: absolute;
  bottom: 20px;
  left: 97px;
}
.chat-logo {
  bottom: 0;
  right: 0;
  position: absolute;
}
.big-heart {
  top: 245px;
  right: 40px;
  position: absolute;
}
